.info-quote{
  width: 100vw;
  display: block;
  position:relative;
  background-image: url("../img/quote_bg.jpg");
  background-position: center bottom;
  height: 600px;
  padding: 200px 20px;
  h1{
    vertical-align: middle;
    text-align: center;
    color: $sc-lilia;
    margin-bottom: 10px;
    font-weight: 700;
  }
  h4{
    text-align: center;
    margin: 30px auto;
    color: #e6eff4;
  }

  @media only screen and (min-width: $wall){
    height: 700px;
    padding: 250px 0;
  }
}