.partners-section{
  background-color: lighten($sc-amber, 3%);
  position: relative;
  .left, .right, .middle{
    width: 100%;
    text-align: center;
    padding: 30px;
    img.logo{
      width: 35%;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: $lap){
    .left, .middle, .right{
      width: 33%;
      padding: 50px;
    }
    .left{
      border-right: 5px solid $sc-lilia;
    }
    .middle{
      border-right: 5px solid $sc-lilia;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
    }
    .right{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  @media only screen and (min-width: $desk){
    .left, .right, .middle{
      padding: 80px;
    }
  }
  @media only screen and (min-width: $wall){
    .left, .right, .middle{
      padding: 100px;
      img.logo{
        width: 25%;
      }
    }
  }
}