<div class="hero-image">
    <div class="logo">
        <img ng-src="dist/assets/img/logo.svg" alt="logo"/>
    </div>
</div>

<div class="info-quote">
    <h1 class="tisa">Handcrafted beautiful software</h1>

    <h1 class="tisa">That integrates with your business</h1>
    <h4 class="futura">That’s how we roll</h4>
</div>

<div class="project-header">
    <h2 class="tisa">Some of our projects</h2>
</div>

<div class="project">
    <div class="overlay">
        <span class="project-info">
            <h2 class="tisa">LIPS</h2>
        <h4 class="futura bolder">An epic software licensing system used by the dutch Police all over our beautiful
            little
            nether-regions?</h4>
        <h4 class="futura">We’ve got you covered!</h4>
        <h6 class="futura">Software - Design</h6>
        </span>
        <a class="btn prof-btn-secondary btn open-project-button">
            <span class="text">Open Project</span>
            <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
        </a>
    </div>
    <img src="dist/assets/img/politie.jpg" alt="" class="project-image"/>
</div>

<div class="project">
    <div class="overlay">
        <span class="project-info">
            <h2 class="tisa">SlimFitted</h2>
        <h4 class="futura bolder">A SlimFitted product configurator as a solution to build your own SlimFitted
            shirts?</h4>
        <h4 class="futura">What a time to live!</h4>
            <h6 class="futura">Design</h6>
        </span>
        <a class="btn prof-btn-secondary btn open-project-button">
            <span class="text">Open Project</span>
            <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
        </a>
    </div>
    <img src="dist/assets/img/slimFitted.jpg" alt="" class="project-image"/>
</div>