<div class="hero-image">
    <div class="logo">
        <embed ng-src="dist/assets/img/logo.svg" alt="logo"></embed>
    </div>
</div>

<div class="info-quote">
    <h1 class="tisa">Beautiful custom software</h1>

    <h1 class="tisa">That integrates with your business</h1>
    <h4 class="futura">That’s us</h4>
</div>

<div class="project-header">
    <h2 class="tisa">Some of our projects</h2>
</div>


<div class="project-container">
    <!-- Project Repeater -->
    <div class="project" ng-repeat="project in projects">
        <div class="overlay">
        <span class="project-info">
            <h2 class="tisa">{{ :: project.name}}</h2>
        <h4 class="futura bolder">{{ :: project.descriptionSmall}}</h4>
        <h4 class="futura">{{ :: project.tagline}}</h4>
        <h6 class="futura">{{ :: project.categories}}</h6>
        </span>
            <a class="btn prof-btn-secondary btn open-project-button" ng-click="openProject(project)">
                <span class="text">Open Project</span>
                <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
            </a>
        </div>
        <span class="project-image" style="background-image: url({{:: project.imagePreview}});"></span>
    </div>
    <!-- Project Repeater -->
</div>

<div class="projectDrawer" ng-class="{'active' : isProjectDrawerActive(), 'viewing-image' : viewImage}">
    <div class="overlay">
        <span class="project-info">
            <h6 class="futura animate--first">Project Info</h6>
            <h2 class="tisa">{{activeProject.name}}</h2>
            <h4 class="futura bolder">{{activeProject.descriptionSmall}}</h4>
            <h4 class="futura">{{activeProject.tagline}}</h4>
            <h6 class="futura" ng-hide="!activeProject.partners">Partners: {{activeProject.partners}}</h6>
            <h6 class="futura categories">Categories: {{activeProject.categories}}</h6>
            <a class="prof-btn-secondary btn btn-sm go-to-project-button" target="_blank"
               ng-href="{{ activeProject.link }}" ng-if="activeProject.link">
                <span class="text">Go To Project</span>
                <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
            </a>
        </span>
        <span class="project-description">
            <h6 class="futura animate--first">Project description</h6>
            <p class="futura"> {{activeProject.descriptionLarge}}</p>
        </span>
        <a class="btn prof-btn-secondary btn close-project-button" ng-click="closeProject()">
            <span class="text">Close Project</span>
            <span class="icon"><i class="fa fa-times-circle"></i></span>
        </a>
    </div>
    <span class="project-image" ng-style="{'background-image':'url(' + activeProject.image + ')'}" ng-click="viewImage = !viewImage">
        <i class="fa fa-expand" ng-show="!viewImage"></i>
        <i class="fa fa-compress" ng-show="viewImage"></i>
    </span>
</div>

<div class="project-header">
    <h2 class="tisa">Partners</h2>
</div>

<div class="partners-section">
    <div class="left">
        <img src="dist/assets/img/forsa_logo.png" alt="" class="logo"/>
        <h3 class="tisa">Training</h3>
        <p class="futura">We provide a variety of professional Management training programmes through our partner Forsa. Our project managers are IPMA and PRINCE2 certified.</p>
        <a class="btn prof-btn-primary btn-sm" target="_blank" href="http://www.forsa-advies.nl/">
            <span class="text">Visit Forsa</span>
            <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
        </a>
    </div>
    <div class="middle">
        <img src="dist/assets/img/peppr_logo.png" alt="" class="logo"/>
        <h3 class="tisa">3d Visualisations</h3>
        <p class="futura">We regularly do projects that require digital visuals. Whenever we do, we love working with Peppr to create high-end, photoreal visuals and animations.</p>
        <a class="btn prof-btn-primary btn-sm" target="_blank" href="http://www.peppr.nl/">
            <span class="text">Visit Peppr</span>
            <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
        </a>
    </div>
    <div class="right">
        <img src="dist/assets/img/anDeWitte.png" alt="" class="logo"/>
        <h3 class="tisa">Mediation</h3>
        <p class="futura">In conjunction with "An de Witte Mediation", Profero provides training to managers on how they can handle conflicts before they run out of hand.</p>
        <a class="btn prof-btn-primary btn-sm" target="_blank" href="http://www.andewittemediation.nl/">
            <span class="text">Visit An de Witte</span>
            <span class="icon"><i class="fa fa-chevron-circle-right"></i></span>
        </a>
    </div>
</div>

<div class="project-header">
    <h2 class="tisa">Contact</h2>
</div>

<div class="contact-section">
    <div class="left">
        <h2 class="tisa">Locations</h2>
        <p class="futura">
            <span class="icon"><i class="fa fa-building-o"></i></span>
            <span class="text">
                Balgoijseweg 61 <br/>
                6605JC Wijchen <br/>
                Nederland
            </span>
        </p>
        <p class="futura">
            <span class="icon"><i class="fa fa-building-o"></i></span>
            <span class="text">
                Weteringschans 165 <br/>
                1017XD Amsterdam <br/>
                Nederland
            </span>
        </p>
        <p class="futura phone">
            <span class="icon"><i class="fa fa-phone"></i></span>
            <span class="text">
                +31 (0)20 8932 984
            </span>
        </p>
        <p class="futura mail">
            <span class="icon"><i class="fa fa-envelope"></i></span>
            <span class="text">
                <a href="mailto:info@profero.nl">info@profero.nl</a>
            </span>
        </p>
    </div>
    <div class="right">
        <div id="map_canvas" class="mapping"></div>
    </div>
</div>